<!DOCTYPE html>
<html>
    <head>
        <title>Text to Call</title>
        <meta http-equiv="refresh" content="3;url=/">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div class="outer">
            <div class="centered-div">
            <h1 style="text-align:center">Your message has been sent to {{ number }}</h1>
            <h3 style="text-align:center">Please wait while you are redirected...</h3>
            </div>
        </div>
    </body>
</html>